*{
  text-decoration: none;
  list-style-type: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;

}

a {
  color: aliceblue;
}

.listaNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}

li {
  list-style: none;
  padding: 2%;
}

.active {
  color: #78a5b1;
  border-bottom: solid 2px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cart { 
  filter: invert();
}

.ItemList {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
 
}

.card {
  background-color: rgb(124, 124, 124);
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 2%;
  width: 20%;
  border-radius: 1.5%;
  
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 2%;
}

.imgDetail {
  width: 30%;
  margin: 2%;
  
  
}

.detailContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: #496a73;
}

.detailContainer h1, h2, h3, h4, p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  padding: 1%;
}

.itemListContainer {
  background-color: #496a73;
}

.contador {
  display: flex;
  
  justify-content: center;
  align-items: center;
  border: solid #496a73 2px;
  width: 150px;
}

.btn-contador {
  width: 50px;
  height: 50px;
  
}


.material-symbols-outlined {
  
  font-size: 30px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,

}
