.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;

}

.listaNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}

li {
  list-style: none;
  padding: 2%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cart { 
  filter: invert();
}

.ItemList {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
 
}

.card {
  background-color: rgb(124, 124, 124);
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 2%;
  width: 25%;
  border-radius: 1.5%;
  
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 2%;
}

.imgDetail {
  width: 30%;
  margin: 3%;
}

.detailContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contador {
  display: flex;
  
  justify-content: center;
  align-items: center;
  border: solid #496a73 2px;
  width: 150px;
}

.btn-contador {
  width: 50px;
  height: 50px;
  
}